/* Messages */

/* .messages {
} */
.message-title {
  padding: 16px 20px 4px;
  border-bottom: 1px solid rgb(38, 38, 38, .2);
}
.messagesBox {
  height: calc(100vh - 170px);
  padding: 16px 20px;
  overflow-y: auto;
}
.messagesBox::-webkit-scrollbar {
  width: 12px;
}
.messagesBox::-webkit-scrollbar-track {
  background-color: transparent;
}
.messagesBox::-webkit-scrollbar-thumb {
  background-color: rgb(38, 38, 38, .2);
  border-radius: 6px;
}
.messageBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
  margin-bottom: 12px;
}
.message {
  max-width: 70%;
  padding: 8px 12px;
  background-color: #eee;
  border-radius: 17px;
}
.itsme .message {
  color: #fff;
  background-color: #0099FF;
}
.message-image {
  display: block;
  max-width: 200px;
}
.itsme .message-image,
.itsme .message {
  align-self: flex-end;
}
.form {
  display: flex;
  align-items: center;
  padding: 12px 20px;
}
.message-input {
  width: 100%;
  padding: 12px;
  background-color: #eee;
  border-radius: 100px;
  font-size: 16px;
}
.file-input {
  display: none;
}
.file-icon {
  cursor: pointer;
  margin-left: 20px;
  min-width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .3s;
}
.file-icon:hover {
  background-color: #eee;
}
.file-icon i {
  font-size: 24px;
  color: #333;
  transition: .3s;
}
.file-input.active + .file-icon i {
  color: #0099FF;
}